/* Map Widget */
#map-container {
  border-top: 4px solid #242424;
  height: 550px;
  transform: inherit!important;
}

#map-container.offline-map {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  background-image: url('/img/map-offline.jpg');
}
